version: '3'
services:
  # The Database
  ldap-server:
    image: osixia/openldap:latest
    container_name: ldap-target
    environment:
      LDAP_ORGANISATION: "Command-Center"
      LDAP_DOMAIN: "cmd.com"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_BASE_DN: "dc=cmd,dc=com"
    volumes:
      # Automatically import our seed data on startup
      - ./seed.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/seed.ldif
    ports:
      - "389:389"

  # The Vulnerable Web App
  web-app:
    build: .
    container_name: web-target
    ports:
      - "5000:5000"
    depends_on:
      - ldap-server
